{
  "id":"policyId",
  "name":"policyName",
  "source":{
    "@type":"CSV_FILE",
    "filepath":"inputFile",
    "delimiter":",",
    "qualifier":"",
    "unescapeInput":false,
    "columnCount":20,
    "hasHeaderRow":false
  },
  "destination":{
    "@type":"CSV_FILE",
    "filepath":"outputFile"
  },
  "fpemode":"ASCII",
  "createBadRecordFile":true,
  "tables":[
    {
      "columns":[
        {
          "name":"Column1",
          "action":"TOKENIZE",
          "config":[
            {
              "@type":"TOKENIZE",
              "tokenTemplate":"demoTemplate",
              "tokenGroup":"tg1"
            }
          ]
        },
        {
          "name":"Column3",
          "action":"DETOKENIZE",
          "config":[
            {
              "@type":"TOKENIZE",
              "tokenTemplate":"demoTemplate",
              "tokenGroup":"tg1"
            }
          ]
        },
        {
          "name":"Column4",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"FPE",
              "key":"key1",
              "characterSet":"digits",
              "tweak":"AUTO"
            }
          ]
        },
        {
          "name":"Column5",
          "action":"DECRYPT",
          "config":[
            {
              "@type":"FPE",
              "key":"key1",
              "characterSet":"digits",
              "tweak":"AUTO"
            }
          ]
        },
        {
          "name":"Column6",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"FF1",
              "key":"key1",
              "characterSet":"digits"
            }
          ]
        },
        {
          "name":"Column7",
          "action":"DECRYPT",
          "config":[
            {
              "@type":"FF1",
              "key":"key1",
              "characterSet":"digits",
              "tweak":"AUTO"
            }
          ]
        },
        {
          "name":"Column8",
          "action":"REKEY",
          "config":[
            {
              "@type":"FPE",
              "key":"key1",
              "characterSet":"digits",
              "tweak":"1ABD0EAB12F34560",
              "action":"DECRYPT"
            },
            {
              "@type":"FPE",
              "key":"key2",
              "characterSet":"digits",
              "tweak":"1ABD0EAB12F34560",
              "action":"ENCRYPT"
            }
          ]
        },
        {
          "name":"Column9",
          "action":"REKEY",
          "config":[
            {
              "@type":"AES_CBC_PAD",
              "key":"key1",
              "iv":"1ABD0EAB12F345601ABD0EAB12F34560",
              "action":"DECRYPT"
            },
            {
              "@type":"AES_CBC_PAD",
              "key":"key2",
              "iv":"1ABD0EAB12F345601ABD0EAB12F34560",
              "action":"ENCRYPT"
            }
          ]
        },
        {
          "name":"Column12",
          "action":"DECRYPT",
          "config":[
            {
              "@type":"AES_CTR",
              "key":"key1",
              "iv":"1ABD0EAB12F345601ABD0EAB12F34560"
            }
          ]
        },
        {
          "name":"Column13",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"AES_CTR",
              "key":"key1",
              "iv":"1ABD0EAB12F345601ABD0EAB12F34560"
            }
          ]
        },
        {
          "name":"Column14",
          "action":"DECRYPT",
          "config":[
            {
              "@type":"AES_CBC_PAD",
              "key":"key1",
              "iv":"1ABD0EAB12F345601ABD0EAB12F34560"
            }
          ]
        },
        {
          "name":"Column15",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"AES_CBC_PAD",
              "key":"key1",
              "iv":"1ABD0EAB12F345601ABD0EAB12F34560"
            }
          ]
        }
      ]
    }
  ]
}