{
 "id":"creditcard_policy_id",
 "name":"creditcardpolicy",
 "createBadRecordFile":true,
 "source":{
 "@type":"CSV_FILE",
 "filepath":"customer.csv",
 "delimiter":",",
 "qualifier":"\"",
 "unescapeInput":true,
 "columnCount":"6",
 "hasHeaderRow":true
 },
 "destination":{
 "@type":"CSV_FILE",
 "filepath":"customer_masked.csv"
 },
 "tables":[

{
 "columns":[

{
 "name":"creditCard",
 "action":"TOKENIZE",
 "config":[

{
 "@type":"TOKENIZE",
 "tokenTemplate":"TokenTemplate",
 "tokenGroup":"TokenGroup"

}

]

}

]

}

]
}