{
  "id":"DataSubsetSample-90643295a90sdf5",
  "name":"DataSubsetSample",
  "source":{
    "@type":"ORACLE",
    "connectionurl":"jdbc:oracle:thin:@//localhost:1521/XE",
    "username":"admin",
    "password":"",
    "driverclass":"oracle.jdbc.driver.OracleDriver"
  },
  "destination":{
    "@type":"CSV_FILE",
    "filepath":"empolyee.csv",
    "delimiter":",",
    "hasHeaderRow":true
  },
  "tables":[
    {
      "columns":[
        {
          "name":"ADDRESS",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"AES_CBC_PAD",
              "key":"KEY-NEW",
              "iv":"1ABD0EAB12F345601ABD0EAB12F34560"
            }
          ]
        }
      ],
      "sourceTable":"employee",
      "subset":{
        "offset":"10",
        "limit":1000,
        "filters":[
          {
            "selector":"salary",
            "operator":">",
            "expression":"10000"
          },
          {
            "selector":"name",
            "operator":"like",
            "expression":"'p%'"
          }
        ]
      }
    }
  ],
  "createBadRecordFile":true
}