{
  "id":"OracleToSqlServerSample-90643295a90sdf5",
  "name":"OracleToSqlServerSample",
  "source":{
    "@type":"ORACLE",
    "connectionurl":"jdbc:oracle:thin:@//localhost:1521/XE",
    "username":"admin",
    "password":"",
    "driverclass":"oracle.jdbc.driver.OracleDriver"
  },
  "destination":{
    "@type":"SQL_SERVER",
    "connectionurl":"jdbc:sqlserver://localhost;databaseName=db",
    "username":"admin",
    "password":"",
    "driverclass":"com.microsoft.sqlserver.jdbc.SQLServerDriver"
  },
  "tables":[
    {
      "columns":[
        {
          "name":"ADDRESS",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"AES_CBC_PAD",
              "key":"KEY-NEW",
              "iv":"1ABD0EAB12F345601ABD0EAB12F34560"
            }
          ]
        }
      ],
      "createDestinationTable":true,
      "sourceTable":"employee",
      "destinationTable":"employee"
    }
  ],
  "createBadRecordFile":true
}