{
  "id":"FileToDBSample-b004f83efaa",
  "name":"FileToDBSample",
  "source":{
    "@type":"CSV_FILE",
    "filepath":"input.csv",
    "delimiter":",",
    "qualifier":"\"",
    "columnCount":12,
    "hasHeaderRow":true,
    "unescapeInput":true,
    "encoding":"UTF-8"
  },
  "destination":{
    "@type":"MYSQL",
    "connectionurl":"jdbc:mysql://localhost:3306/world",
    "username":"username",
    "password":"",
    "driverclass":"com.mysql.jdbc.Driver"
  },
  "createBadRecordFile":true,
  "tables":[
    {
      "columns":[
        {
          "name":"LATITUDE",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"FPE",
              "key":"KEY-NEW",
              "characterSet":"digits",
              "tweak":"auto"
            }
          ]
        }
      ],
      "createDestinationTable":true,
      "destinationTable":"REALESTATE"
    }
  ]
}