/*Copyright (c) 2020 by Thales.*/
{
  "inputDirectory":"../samples/resources",
  "outputDirectory":"../temp",
  "threadCount": 4,				/* maximum running threads to transform file */
  "batchSize": 1000,                /* Number of records processed in batch */
  "vts": {
     "hostName": "vtshost",		/* hostname of a machine where tokenization server is running */
     "userName": "vtsuser",			/* VTS username */
     "password": "",		/* VTS password. Don't put plain text here. Use bdt -e option to put encrypted value here */
     "tokenUrl": "https://vtshost/vts/rest/v2.0/tokenize",       /* VTS tokenize rest url */
     "detokenUrl": "https://vtshost/vts/rest/v2.0/detokenize",	/* VTS detokenize rest url */
     "ssl" : {
     	"server" : {											/*ssl configuration for server*/
     		"sslmode" : "DEFAULT",						/* ssl mode (DEFAULT, ALLOW_ALL - allow everything, SPECIFY_SSL_CERT - communicate if server cert exist in specified truststore)*/
     		"verifyHostname" : true,							/* whether to do host name verfication */
     		"truststore": "",									/* truststore file path, truststore should have server cert. Applicable only for SPECIFY_SSL_CERT mode*/
     		"password" : ""										/* truststore file password. Applicable only for SPECIFY_SSL_CERT mode*/
     	},
     	"client" : {											/* ssl configuration for client*/
     		"sslmode" : "DEFAULT",						/* ssl mode (DEFAULT/ALLOW_ALL - don't send client authentication, SPECIFY_SSL_CERT - send client authentication certs specified keystore)*/
     		"keystore": "",										/* keystore file path. keystore should have client key and certificate */
     		"storepassword" : "",								/* keystore file password */
     		"keypassword" : ""									/* key file password. usually same as keystore password.*/
     	}
     }
  },
  "crypto": {													/* to configure Internal crypto library*/
  	"username":"",
  	"password":""
  },
  "dataProtectionConfig" : {
    "@type" : "user_certificate",
	"username" : "test_user",
	"password" : "",
    "hostName" : "",
    "serverConfig" : {
      "truststore" : "",
      "password" : "",
      "verifyHostname" : true
    },
    "clientConfig" : {
      "keystore" : "",
      "storePassword" : "",
      "keyPassword" : ""
    }
  },
  "characterSets":[
        {
            "latin":[
                "0020-007E"
            ]
        },
        {
            "digits":[
                "0030-0039"
            ]
        },
        {
            "alphabets":[
                "0041-005A",
                "0061-007A"
            ]
        },
        {
            "alphanumeric":[
                "0030-0039",
                "0041-005A",
                "0061-007A"
            ]
        }       
    ]
}
